.input-group {

    width: 70% !important;
    border: 1px #ffffff solid;
    padding: 2px;

}


.input-group input {

    border: 0px;
    width: 90%;

}

.input-group>* {

    margin-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navheader {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    border-bottom: 0px #ffffff solid;
    margin-top: 1em; 
    color: #ffffff;

}

.navheader>* {

    margin: 0px 2px;

    

}


.bi {

    font-size: 2em !important;

}

.card {

    width: 70%;

}

.cards {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    

}

.card {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 1em 0px;
    border: 2px #ffffff solid;
    background-color: #585858;

}



.plus {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    height: 0px;
    margin-bottom: 1em;
    color:#ffffff

}

.content {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

}

.image {
    display: flex;
    justify-content: center;
    margin: 2em 3em 3em 3em;
    align-items: center;
    min-width: 10em;
    min-height: 10em;
    padding: 0;
    box-sizing: border-box;
}

.image img {
    border: 1px #000000 solid;  
}

.text {

    margin: 1em;
    min-width: 70%;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.button-center {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button {

    padding: 8px 30px;
    background-image: linear-gradient(90deg, #1ecf99 5%, #1ecf99 40%);
    color: #000000;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;

}

.plus-button {

    font-size: 200%;
    position: fixed;
    bottom: 20px;
    right: 0.5em;
    z-index: 2;
    color: #1ecf99; 
}
  

.apb{
    color: #1ecf99;
}

.plus-button i, .bi-person-circle, .bi-search{
    cursor: pointer;
}

.bi-person-circle{
    color: #ffffff;
}

.max-text {

    max-height: 10rem;
    overflow: auto;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: #ffffff
}

h1 { 

    color:#1ecf99 ;
}

body {
    background-color: #383838;
    overflow-x: hidden;
    touch-action: pan-y;
  }

hr {

    color:#ffffff;
}

footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    /* background-color: #f5f5f5; */
    margin-bottom: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    border-top: #ffffff 1.5px solid;
    
  
  }
  
footer a {
    text-decoration: none;
    color: #c3b7b7;   
}

footer a:hover{
    color: #1ecf99;
}

@media(max-width: 1500px){
    .image img {
        
        margin-left: 30px; 
    }
}


@media(max-width: 1000px){
   

    footer, footer a{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    footer a {
        font-size: 15px;
    }

   footer{
    position: relative;
   }

  
}

@media(max-width: 830px){
    .image img {
        width: 350px;
        height: 300px; 
        margin-left: 20px; 
    }
    
   
}

@media(max-width: 700px){
   

    .image img {
        margin: 2em 3em 3em 3em;
        width: 250px;
        height: 200px;
    }

    .image{
        border: none;
        margin-bottom: -20px;
        margin-top: 0px;

    }

    .card {   
        width: 80%;
    }

    .max-text {
        margin: auto;
        width: 70%;
        overflow: none;
        margin-bottom: 1em;
        font-size: small;
        height: 100%;
    }

    

    .text h1{
        margin: auto;
        width: 70%;
    }

    .max-text {
        max-height: 10rem;
        overflow:visible;
        margin-bottom: 6em;      
    }

    .logo{
        position: absolute;
        display: none;
     }

     .plus-button {
        font-size: 200%;
        position: fixed;
        bottom: 55px;
        right: 40px;
    
    }
    
   
}

.cards{
    margin-bottom: 100px;
    margin-top: 150px;
} 

@media(max-width: 500px){ 

    .plus-button {
        bottom: 0.5em;
        right: 0.5em;
    }
  
   main {
      overflow-y:hidden;
      scroll-behavior:smooth;
      touch-action: pan-y;
      scrollbar-width: none;
    }

    main::-webkit-scrollbar {
        width: 0; 
    }

    .cards{
        margin-bottom: 50px;
        margin-top: 80px;
    } 
    
    main{
        overflow-x: hidden;
    }
}



.navheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #383838;
    z-index: 999;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}


.navheader {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: #ffffff 1.5px  solid;
  }
  

  ::-webkit-scrollbar{
    background-color: rgb(23, 22, 22);
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #1ecf99;
    border-radius: 5px;
  }