body {
    background-color: #383838;
}


#en {
    margin-top: 3%;
    color: #1ECF99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#tl {

    margin-top: 2pc;
    color: #1ECF99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#backIcon{
    width: 40px;
    margin: 15px;
    cursor: pointer;
}

#backIcon:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

#ptl {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#rs1 {

    margin-top: 2pc;
    color: #1ECF99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rs1p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rs2 {

    margin-top: 3pc;
    color: #1ECF99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#obs {

    margin-top: 4pc;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width: 700px){



    #backIcon{
        width: 30px;
        margin: 10px;
        
    }
}