body{background-color: #383838;}

#con{
   
    border-style: solid;
    border-radius: 3pc;
    border-color: white;
    margin-top: 1pc;
    width: 80%;
   
}

#cc{
    margin-top: 1pc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
     color: white;
}

#fpassword{
    margin-top: 3%;
    color: white;
    width: 90%;
    
}

#flogin{
    color: white;
    width: 90%;
}

#blogin{
    margin-top: 2pc;
    color: black;
    background-color: #1ECF99;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form1{
    margin-top: 5%;
}

#en{
   margin-top: 3%;
   color: #1ECF99;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logof{
    margin-top: 2pc;
}